@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    /*font weight*/
    --fw-light:300;
    --fw-regular:400;
    --fw-bold:700;

    /*font sizes*/
    --fs-12:16px;
    --fs-24:32px;
    --fs-48:64px;

    /*colors*/
    --clr-primary:#0a2ff1;
    --clr-secondary:#04146c;

    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    align-items:center;        
}

.w-30{
    width: 30%;    
    /*margin-right: 60px;*/
}

#paleta{
    width: 100%;
}

/*titulo*/
div>h1{
    font-weight: var(--fw-bold);
    font-size: var(--fs-48);
    color: var(--clr-primary);

    padding-bottom: 50px;
}

/*parrafo principal*/
h1+p{
    font-weight: var(--fw-light);
    font-size: var(--fs-24);
    color: var(--clr-secondary);
    
    padding-bottom: 40px;
}


/*puntuacion*/
p+img{
    height: 24px;
    /*width: 30%;*/    
}

/*parrafo secundario*/
img+p{
    font-weight: var(--fw-regular);
    font-size: var(--fs-12);
    color: var(--clr-secondary);

    margin-top: 20px;
}

p>strong{
    font-weight: var(--fw-bold); 
}
